/* variables */
:root{
    --black:#1b1f24;
    --white:white;
    --blue:#12bdff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* heading */
.title-brand{
    font-family: 'Poppins', sans-serif;
    color: var(--blue);
    letter-spacing: 2px;
    font-weight: 700;
}
div a{
   text-decoration: none;
}
/* nav menu */
ul{
    display: flex;
}
ul li{
    padding-right: 20px;
    text-decoration: none;
}
ul li a{
    color: var(--white);
    text-decoration: none;
}
ul li a:hover{
    color: var(--blue);
}
/* button */
button{
    font-weight: 700;
    padding: 10px 20px;
    margin: 5px 0px 5px 0px;
    background-color: var(--black);
    color:var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
}
header button:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}