/* variables */
:root {
    --black: #1b1f24;
    --white: white;
    --blue: #12bdff;
    --btn-styles-hover: #00709c;
    --grey: #22282f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif !important;
}

header {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* heading */
.title-brand {
    font-family: 'Poppins', sans-serif;
    color: var(--blue);
    letter-spacing: 2px;
    font-weight: 700;
}

div a {
    text-decoration: none;
}

/* nav menu */
ul {
    display: flex;
}

header ul li {
    padding-right: 20px;
    list-style: none;
}

header ul li a {
    color: var(--white);
    text-decoration: none;
}

header ul li a:hover {
    color: var(--blue);
}


/* Hero section */
section.hero_section {
    background-color: var(--black);
    color: white;

    display: flex;
    align-items: center;
    padding: 10px 120px 0 240px;
}

.hero_section_title {
    font-size: 48px;
    color: var(--blue);
}

.hero_section_desc {
    color: azure;
}

.social_icons {
    margin: 10px 0px;
    list-style: none;
}

.social_icons li {
    padding-right: 10px;
    list-style: none;
}

.social_icons li a {
    color: var(--white);
    text-decoration: none;
}

.social_icons li a i.fa-facebook:hover {
    color: #316FF6;
}

.social_icons li a i.fa-instagram:hover {
    color: #d62976;
}

.social_icons li a i.fa-twitter:hover {
    color: #1DA1F2;
}

.social_icons li a i.fa-youtube:hover {
    color: #CD201F;
}

.btn_hero button {
    margin-right: 10px;
}


/* about_section */
.about_section {
    background-color: var(--grey);
    color: var(--white);
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_section-desc {
    margin-top: 10px;
    margin-left: 100px;
    max-width: 450px;
}

.about_section-desc h1 {
    font-size: 30px;
    font-weight: bolder;
}
.about_section-desc h1 span{
  color: var(--blue);
}
.about_section-desc ol {
    list-style: none;
    margin: 10px 0px;
   
}
.about_section-desc li strong{
   color: var(--white);
   font-weight: bolder;
}
.about_section-desc ol li {
    margin-bottom: 5px;
    color: gray;
}
.about_section-desc ol li a{
    text-decoration: none;
    color: gray;
}
.about_section-desc ol li a:hover{
  color: var(--blue);
}
.about_section-img img {
    border-radius: 40px;
    border: 3px solid var(--blue);
}

/* work_section */
.work_section{
    background-color: var(--black);
    color: white;
    padding: 60px;
    text-align: center;
}
.work_section-items{
    display: flex;
    justify-content: space-around;
}
.work_section-title{
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    
}
.work_section-title span{
    color: var(--blue);
}
.work_section-box{
    background-color: var(--grey);
    border: 1px solid var(--blue);
    width: 300px;
    padding: 30px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
}
.work_section-box:hover{
    background-color:#1e2123;
}
.work_section-box p{
    color: gray;
    font-size: 14px;
}
.work_section-box a{
  text-decoration: none;
  color: #92cdf1;
}
.work_section-desc{
    margin-bottom: 10px;
    margin-top: 20px;
}
.work_section-desc p{
   padding: 5px;
}
.work_section-icon{
background-color: var(--blue);
padding: 10px;
border-radius: 50%;
}
.work_section-icon:hover{
    background-color: var(--btn-styles-hover);
}


/* button style */
.btn-style2 {
    font-weight: 700;
    padding: 10px 20px;
    margin: 5px 0px 5px 0px;
    background-color: var(--blue);
    color: var(--black);
    border: 1px solid var(--blue);
    border-radius: 5px;
}

.btn-style2:hover {
    cursor: pointer;
    background-color: var(--btn-styles-hover);
    color: var(--white);
}

/* button */
.btn-style1 {
    font-weight: 700;
    padding: 10px 20px;
    margin: 5px 0px 5px 0px;
    background-color: var(--black);
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
}

.btn-style1:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}


/* conatct-section */
.contact_section{
    text-align: center;
    background-color: #0c1014;
    color: var(--white);
    padding: 40px;
}
.contact_section-title{
   margin: 20px 0;
   font-family: 'Poppins', sans-serif;
   font-weight: bolder;
}

.contact_section form input,textarea{
padding: 10px 10px;
width: 350px;
border: 1px solid var(--blue);
border-radius: 5px;
background-color: #22282f;
margin-bottom: 10px;
resize: none;
}

footer{
padding: 20px 0;
background-color: var(--black);
color: gray;
font-size: 16px;
text-align: center;
}
footer a{  
    color: var(--blue);
    text-decoration: none;
    }